<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1px">
        <thead>
            <th>Name</th>
            <th>Adhar Number</th>
            <th>Dept</th>
            <th>salary</th>
            <th>delete</th>
            <th>update</th>
            
        </thead>
        <tr>
            {%for i in details%}
            <td>{{i.name}}</td>
            <td>{{i.adhar}}</td>
            <td>{{i.dept}}</td>
            <td>{{i.salary}}</td>
            <td><a href="/delete/{{i.id}}">delete</a></td>
            <td><a href="/update/{{i.id}}">update</a></td>
        </tr>
            {%endfor%}
    </table>
    <button><a href="/create">Add Employee</a></button>
</body>
</html>